name: Build and Test

on: 
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    
    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Install dependencies (Ubuntu)
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt-get install -y libgtest-dev

    - name: Install dependencies (macOS)
      if: matrix.os == 'macos-latest'
      run: brew install googletest

    - name: Install dependencies (Windows)
      if: matrix.os == 'windows-latest'
      run: choco install gtest
    
    - name: Configure
      run: cmake -B build -DIMAGELITE_BUILD_TESTS=ON
    
    - name: Build
      run: cmake --build build
    
    - name: Test
      run: ctest --test-dir build --output-on-failure